
<div id="flower-index">
    <div class="container">
      <div class="row justify-content-center m-5" >
        <div class="col-6" align="center">
           <div class="card" style="width: 18rem;">
              <img src="https://cdn.shopify.com/s/files/1/1095/8052/t/3/assets/logo.png?v=16319306062312551641" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"> A family farm based Seed Company in SW Oregon growing Organic & Biodynamic since 1997.</p>
                <%= link_to " Go ", "https://www.siskiyouseeds.com/", class:"btn btn-primary" %>
  <!--                <a href="#" class="btn btn-primary">Go </a> -->
              </div>
          </div>
        </div>
        <div class="col-6" align="center">
           <div class="card" style="width: 18rem;">
              <img src=<%=asset_url("monika-grabkowska-small_unsplash.jpg")%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Vegetables</h5>
                <p class="card-text">Oregon vegetable seeds retailers</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
        </div>
      </div>  
    </div>

</div>
